<div id="chat-wrapper">
  <div id="chat">
  	<div class="header">
      <h2 id="with">person name</h2>
  		<!-- <button type="button" id="leave">나가기</button>
      <button type="button" id="invite">초대하기</button> -->
  	</div>
    <div class="chat-main">
      <ul id="message-list" class=""></ul>
    </div>
    <div class="chat-footer clear">
      <input type="text" class="input-message" id="message" placeholder="enter your message" autocomplete="off" />
      <button type="button" id="send">Send</button>
    </div>
  </div>
</div>
